.code-form{
	margin-top: 10px;
}

textarea{
	resize: none;
}

.code-form button{
	margin-top: 10px;
}

.health-bar{
	margin-right: 41px;
}

.stamina-bar{
	margin-right: 10px;
}

.players-list{
	border: 2px solid #ccc;
	border-radius: 10px 10px 10px 10px;
	padding: 7px;
	margin-bottom: 10px;
	margin-left: 20px;
	margin-right: 20px;
}