html{
	overflow-x: hidden;
}

.code-form{
	margin-top: 10px;
}

textarea{
	resize: none;
}

.code-form button{
	margin-top: 10px;
}

.health-bar{
	margin-right: 41px;
}

.stamina-bar{
	margin-right: 10px;
}

.nick-bar{
	margin-right: 38px;
}

.info_bar{
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 20px;
}

.players-list{
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 7px;
}

.nicks{
	cursor: pointer;;
}

.nicks:hover{
	text-decoration: underline;
};